<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Icaro.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Icaro.My.MySettings.GEOSYSConnectionStringMain" connectionString="Data Source=191.98.146.190,47000;Initial Catalog=GEOSYS;User ID=userBDIcaro;Password=userBDIcaro;Max Pool Size=10024"
            providerName="System.Data.SqlClient" />
        <add name="Icaro.My.MySettings.GEOSYSConnectionStringAux" connectionString="Data Source=191.98.146.190,47000;Initial Catalog=GEOSYS;User ID=userBDIcaro;Password=userBDIcaro;Max Pool Size=10024"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <Icaro.My.MySettings>
            <setting name="UsuarioEmail" serializeAs="String">
                <value>ddulanto</value>
            </setting>
            <setting name="ClaveEmail" serializeAs="String">
                <value>ddulanto</value>
            </setting>
            <setting name="GenerarMaps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColumnasReporte" serializeAs="String">
                <value>AÑO;MES;DIA;KMS;CONSUMO;EXCESO100;FRENADA;GIROIZQ;GIRODER;RALENTI;ALARMA</value>
            </setting>
            <setting name="UsarTablaCalificacion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Espera" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="Debug" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EnviarEmails" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RutaDescargas" serializeAs="String">
                <value>C:\inetpub\wwwroot\Geo\Reportes\Descargas\</value>
            </setting>
            <setting name="EsperaLoadData" serializeAs="String">
                <value>7200000</value>
            </setting>
            <setting name="EmailDesde" serializeAs="String">
                <value>informes@huntermonitoreoperu.com</value>
            </setting>
            <setting name="ServidorEmail" serializeAs="String">
                <value>172.16.1.61</value>
            </setting>
            <setting name="Company" serializeAs="String">
                <value>Autosafe</value>
            </setting>
            <setting name="HoraInicio" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="HoraFin" serializeAs="String">
                <value>23:59:59</value>
            </setting>
            <setting name="Url_GeneraHTML" serializeAs="String">
                <value>http://172.16.1.81/reporte_icaro/PDF/genera_html.php?</value>
            </setting>
            <setting name="Url_GeneraPDF" serializeAs="String">
                <value>http://172.16.1.81/reporte_icaro/PDF/genera_pdf.php?</value>
            </setting>
            <setting name="Url_DownloadPDF" serializeAs="String">
                <value>http://172.16.1.81/download_ejecutivo/PDFS/</value>
            </setting>
            <setting name="Url_DownloadHTML" serializeAs="String">
                <value>http://172.16.1.81/download_ejecutivo/HTML/</value>
            </setting>
            <setting name="ReporteProgramadoPendiente_GuardarLog" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Pais" serializeAs="String">
                <value>PE</value>
            </setting>
            <setting name="TotalRegistrosMaximo" serializeAs="String">
                <value>1000000</value>
            </setting>
            <setting name="ImagenCabeceraEmail" serializeAs="String">
                <value>http://www.huntermonitoreoperu.com/GeoV3.3/images/LOGO_HUNTER_PARA_PLATAFORMA.png</value>
            </setting>
            <setting name="TokenEmBlue" serializeAs="String">
                <value>Basic YTQ0MjM1OGQ4MTY3NDc4ZTgzYmIzMjc1ZmY2MDQxNDI=</value>
            </setting>
            <setting name="Url_EmBlueOne" serializeAs="String">
                <value>http://track.embluemail.com/contacts/event</value>
            </setting>
            <setting name="Url_EmBlueBulk" serializeAs="String">
                <value>http://track.embluemail.com/contacts/event/bulk</value>
            </setting>
            <setting name="TokenHunter" serializeAs="String">
                <value>Basic YTQ0MjM1OGQ4MTY3NDc4ZTgzYmIzMjc1ZmY2MDQxNDI=</value>
            </setting>
            <setting name="UrlApiHunter" serializeAs="String">
                <value>http://www.huntermonitoreoperu.com:8889/api.integracion/v1/cliente/credenciales</value>
            </setting>
        </Icaro.My.MySettings>
    </applicationSettings>
</configuration>